/* Imagem principal */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh; /* Define a altura total da tela */
  }
  
  .center-image {
    max-width: 100%; /* Ajusta o tamanho máximo da imagem */
    max-height: 100%; /* Ajusta a altura máxima da imagem */
  }

  .login-button button {
    border: none;
    background-color: #58d055;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 80px;
    width: 150px;
    font-size: 17px;
    font-weight: 800;
  }